apache-airflow==2.3.3
apache-airflow-providers-cncf-kubernetes==5.3.0
apache-airflow-providers-common-sql==1.4.0
apache-airflow-providers-ftp==3.3.1
apache-airflow-providers-google==8.6.0
apache-airflow-providers-http==4.3.0
apache-airflow-providers-imap==3.1.1
apache-airflow-providers-sqlite==3.3.2
connexion==2.14.2 # needed
flask==2.2.5 # needed
flask-appbuilder==4.1.2 # needed
flask-session==0.5.0 # needed
freezegun==1.5.1
jsonlines==3.0
pendulum==2.1.2 # needed
pytest==7.4.4 # needed
sentry-sdk==1.19.0 # needed
sqlalchemy<1.5.0 # needed
werkzeug==2.2.3 # needed
