alembic==1.13.1
apache-airflow==2.10.2
apache-airflow-providers-cncf-kubernetes==10.4.1
apache-airflow-providers-common-sql==1.24.1
apache-airflow-providers-ftp==3.9.0
apache-airflow-providers-google==10.17.0
apache-airflow-providers-http==4.11.0
apache-airflow-providers-sqlite==3.8.0
connexion==2.14.2
flask==2.2.5
Flask-Limiter==3.12
flask-session==0.5.0
pendulum==3.0.0
pydantic<2.10.0
pytest==8.2.0
sentry-sdk==2.1.1
SQLAlchemy==1.4.52
